@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --primary: 221.2 83.2% 53.3%; /* Un azul vibrante estilo tecnología */
  --primary-foreground: 210 40% 98%;
}

body {
  @apply bg-background text-foreground antialiased;
  /* Esto hace que las fuentes se vean nítidas */
  -webkit-font-smoothing: antialiased; 
}